.clone{
    width: 100%;
    height: 100vh;
    padding: 0 3rem;
    h1 {
    @include font-h1;
    color: var(--color-text);
    padding: 3rem;
  }
  .clone-des{
    padding: 1rem 3rem;
    word-break: keep-all;
    width: 80%;
    font-size: 2.5rem;
    color: var(--color-text);
  }
  .projects-list{
        @include flex-layout;
        margin-top: 5rem;
        gap: 10rem;
        .swiper-button-prev{
            color: var(--color-text);
        }
        .swiper-button-next{
            color: var(--color-text);
        }
        .swiper-pagination{
            bottom: 0.5
        }
        .project-card{
            text-align: center;
            .card-name{
            @include flex-layout(row,left,flex-start);
            color: var(--color-text);
            gap: 1.3rem;
            h2{
                @include font-h2;
                padding-left: 5rem;
            }
            h3{
                @include font-h3;
                padding-top: 1.2rem;
                text-align: left;
            }
            p{
                font-size: 2.4rem;
                padding-top: 0.6rem;
                text-align: left;
            }
        }
        }
        img{
        width: 50rem;
        }
        .project-links{
            @include flex-layout;
            gap: 2rem;
            padding-top: 2rem;
            button{
            @include btn;
            }
        }
  }
}