.close{
    width: 100%;
    height: 100vh;
    color: var(--color-text);
    h1{
        @include flex-layout;
        text-shadow: 5px 5px 3px #000000;
        padding-top: 35rem;
        font-size: 5.5rem;
        line-height: 1.7;
        text-align: center;
    }
    ul{
        padding-left: 6rem;
        padding-top: 18rem;
        @include font-h4;
        line-height: 1.5;
        text-shadow: 5px 5px 3px #000000;
    }
}