.cover{
    width: 100%;
    height: 100vh;
        @include flex-layout(column,center,center);
        position: relative;
        h3{
            text-align: center;
            padding-bottom:40rem;
            color: var(--color-text);
            @include font-h3;
            text-shadow: 5px 5px 3px #000000;
        }
        img{
            position: absolute;
            top: -9.5rem;
            width: 60rem;
            z-index: 1;
        }
        p{
            position: absolute;
            bottom: -4.4rem;
            left: -4rem;
            font-size: 32.6rem;
            color: transparent;
            -webkit-text-stroke:2px var(--color-sub) ;
            white-space: nowrap;
        }
    }
